{:project/name "a",
 :project/tagline "a",
 :project/repo-url "http://a",
 :project/home-page-url "http://a",
 :project/beginner-issues-label "a",
 :project/description "a",
 :record/tags "a"}
