{:project/name "pras_dash",
 :project/tagline "pras_dash",
 :project/repo-url "http://pras_dash",
 :project/home-page-url "http://pras_dash",
 :project/beginner-issues-label "pras_dash",
 :project/description "pras_dash",
 :record/tags "pras_dash"}
